/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Mulish', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Comon CSS */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #001b4eeb;
}

h3 {
    font-family: 'Mulish', sans-serif;
}

/* Bagroung Images Section */

.contenar div:first-child {
    background-image: url(../Images/im2.jpg);
}

.contenar div:nth-child(2) {
    background-image: url(../Images/im4.jpg);
}

.contenar div:nth-child(3) {
    background-image: url(../Images/im5.jpg);
}

.contenar div:nth-child(4) {
    background-image: url(../Images/im6.jpg);
}

.contenar div:last-child {
    background-image: url(../Images/im3.jpg);
}

/* Images Sizing */

.contenar div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

/* Body opining */

.contenar {
    display: flex;
    width: 90vw;
}

.contenar div h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

/* Image Activet */

.contenar div.active {
    flex: 5;
}

.contenar div.active h3 {
    opacity: 1;
    transition: opacity 0.3s;
}

/* Active Responcive Now */

@media (max-width: 480px) {
    .contenar {
        width: 100vw;
    }

    .contenar div:nth-of-type(4),
    .contenar div:nth-of-type(5) {
        display: none;
    }
}